body {
  margin: auto;
  padding: 0 10%;
}
body form {
  padding: 10px;
}

body form label * {
  display: inline-block;
}

body form >*{
  display: block;
}
body form input[type='text'], body form select {
  border: 1px solid #161414;
  padding: 5px 8px;
  width: 320px;
}
table {
  width: 370px;
}

table tr>* {
  text-align: left;
  padding: 5px 8px;
}

table tr th[colspan="2"]{
  text-align: center;
  background-color: #d3d3d3;
}
form.create-product {
  border: 1px solid #d3d3d3;
  width: 350px;
}
form.create-product label {
  padding: 10px 0px;
}
form.create-product label * {
  display: block;
}